// 'mc-*' for menu-collapse
@keyframes mc-menu-section {
    from {
        width: 240px;
    }
    to {
        width: 100%;
    }
}
@keyframes mc-menu-inner-wrapper-pu {
    from {
        height: 170px;
    }
    to {
        height: 17px;
    }
}
@keyframes mc-menu-inner-wrapper-gc {
    from {
        height: 150px;
    }
    to {
        height: 17px;
        
    }
}
@keyframes mc-menu-top-border-pu {
    from{
        width: 240px;
    }
    to {
        width: 100%;
    }
}
@keyframes mc-menu-top-border-gc {
    0%{
        width: 142px;
        top: 50px;
    }
    50% {
        top:0;
    }
    100%{
        width: 100%;
    }
}

@keyframes mc-menu-main-link-wrapper-pu {
    from{
        left: -52px;
        width:291px;
        transform: rotate(-35.5deg);
    }
    to {
        left: 0;
        width: 100%;
        transform: rotate(0deg);
    }
}
@keyframes mc-menu-main-link-wrapper-gc {
    from{
        left: -52px;
        top: -19px;
        width:291px;
        transform: rotate(-35.5deg);
    }
    to {
        top:0;
        left: 0;
        width: 100%;
        transform: rotate(0deg);
    }
}