@keyframes root-state-anim-out-menu-section {
    from {
        width: 100%;
    }
    to {
        width: 230px;
    }
}
@keyframes root-state-anim-in-menu-section {
    from {
        width: 230px;
    }
    to {
        width: 100%;
    }
}
@keyframes root-state-anim-out-main-view {
    0% {
        width: 0;
        transform: translate(300px, 0);
    }
    50% {
        transform: translate(300px, 0);
        width: 0;
    }
    to {
        transform: translate(0, 0);
        width: 100%;
    }
}
@keyframes projects-state-anim-in-page-header-h1{
    0%{
        transform: translate(0, 100px);
    }
    80%{
        transform: translate(0, 0);
    }
}
