@import 'page-variables';
@import 'animations-v0-2';
@menu-borders: 3px solid @text-and-border-color;
html {
    height: 100%;
    box-sizing: border-box;
}
body {
    height: 100%;
    color: @text-and-border-color;
    background-color: @BodyBackground;
    overflow: hidden;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

/*----- MENU -----------*/

.root-state {
    .menu-section {
        width: 100%;
    }
    .main-view {
        transform: translate(-3000px, 0);
    }
}
.main-view {
    transform: translate(0, 0);
    height: 100%;
    float: right;
    width: 100%;
    background-color: @MenuSectionBackgroundColor;
    z-index: 1;
    overflow: hidden;
}
.menu-section {
    z-index: 2;
    transform: translate(0, 0);
    position: fixed;
    top: 0;
    left: 0;
    background-color: @MenuSectionBackgroundColor;
    height: 100%;
    width: 280px;
    a,
    a:hover,
    a:active,
    a:focus {
        text-decoration: none;
        color: @text-and-border-color;
    }
}
.menu-container {
    margin: 0 auto;
    width: 237px;
    display: block;
    position: relative;
    clear: both;
    height: 100%;
}
.menu-outer-wrapper {
    width: 200px;
    margin: 0 auto;
    margin-top: 69px;
    margin-left: 37px;
}
.menu-inner-wrapper {
    width: 100%;
}
.menu-top-border {
    border-top: @menu-borders;
    position: absolute;
}
.menu-inner-wrapper {
    position: relative;
}
.menu-main-link-wrapper {
    overflow: hidden;
    position: absolute;
    width: 244px;
    transform: rotate(-35.5deg);
    transform-origin: 100% 0;
    border-top: @menu-borders;
}
a.menu-main-link {
    display: block;
    h1 {
        display: block;
        width: 100%;
        text-align: right;
        margin-top: 0;
        padding-top: 0;
        padding-right: 10px;
        color: @text-and-border-color;
        font-size: 19px;
        font-weight: 700;
        line-height: 1.6em;
    }
}
#projects.menu-inner-wrapper,
#us.menu-inner-wrapper {
    height: 142px;
    .menu-top-border {
        width: 200px;
    }
    .menu-main-link-wrapper {
        top: 0;
        left: -45px;
    }
}
#group.menu-inner-wrapper,
#contact.menu-inner-wrapper {
    height: 132px;
    .menu-top-border {
        width: 100px;
        top: 50px;
    }
    .menu-main-link-wrapper {
        top: -19px;
        left: -47px;
    }
}

/*------------------------*/


/*--------- MAIN VIEW-----*/

.root-state {
    .content-section {
        .page-header {
            h1 {
                transform: translate(0, 100px);
            }
        }
    }
}
.content-section {
    overflow: auto;
    padding-left: 300px;
    height: 100%;
    transform-origin: top right;
    .page-header {
        margin: 0;
        padding-bottom: 0;
        overflow-y: hidden;
        border-bottom: @menu-borders;
        h1 {
            text-align: right;
            transform: translate(0, 0);
        }
    }
}

/*---------------------------*/

nav.menu-header-outer-wrapper {
    position: absolute;
    width: 37px;
    height: 540px;
    top: 0;
    border-left: @menu-borders;
    .menu-header-inner-wrapper {
        //        text-align: right;
        //        text-indent: 10px;
        letter-spacing: 12px;
        font-size: 24px;
        transform: rotate(90deg);
        transform-origin: 17px;
        width: 554px;
    }
}

/*-------------------------*/

.t-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
    .t-col-md-3,
    .t-col-md-4,
    .t-col-md-5,
    .t-col-md-6,
    .t-col-md-7,
    .t-col-md-8,
    .t-col-md-9 {
    position: relative;
    min-height: 1px;
    overflow: hidden;
}

/*-------------------------*/
.project-wrapper{
//    margin: 20px 0 0 0;
    margin:0;
    
}
.prject-img-frame {
    width: 0;
    height: 0;
    position: absolute;
}
.project-header {
    border-top: @menu-borders;
    text-align: center;
    h1,
    h2,
    h3 {
        margin-top: 100px;
        font-size: 19px;
        font-weight: 700;
        line-height: 1.6em;
    }
}
@media(min-width: @screen-md-min) {
    .t-col-md-3,
    .t-col-md-4,
    .t-col-md-5,
    .t-col-md-6,
    .t-col-md-7,
    .t-col-md-8,
    .t-col-md-9 {
        float: left;
    }
    .t-col-md-3 {
        width: 25%;
    }
    .t-col-md-4 {
        width: 33.33333333%;
    }
    .t-col-md-5 {
        width: 41.66666667%;
    }
    .t-col-md-6 {
        width: 50%;
    }
    .t-col-md-7 {
        width: 58.33333333%;
    }
    .t-col-md-8 {
        width: 66.66666667%;
    }
    .t-col-md-9 {
        width: 75%;
    }
    .t-container {
        width: 682px;
    }
    .prject-img-frame {
        background-color: @MenuSectionBackgroundColor;
        border-top: @menu-borders;
        width: 150%;
        height: 100%;
        transform-origin: 0 0;
        transform: rotate(65.5deg) translateY(-2px);
    }
    .project-cover-img {
        border-bottom: @menu-borders;
    }
}
.state-content {
    margin-top: 20px;
    .row.project-wrapper {
        
        .col-md-6 {
            padding: 0;
            .header-spacer {}
            h3 {
                text-align: center;
            }
        }
    }
}
