{% extends 'layout.server.view.html' %} {% block content %}
<div class="main-section-outer-wrapper" id="projects">
    <div class="main-section">
        <a class="main-link" href="/tr/projeler"><h1>PROJELER</h1></a>
    </div>
    <div class="main-content-wrapper">
        <div class="projects-main-outer-wrapper">
            <div class="projects-description-wrapper"><h3>Dolor Sit Amet</h3><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo ullam necessitatibus dicta optio incidunt dolor excepturi debitis vero impedit sunt! Corporis facilis facere ex doloremque magni dolorem optio reprehenderit praesentium?</p>
            <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo laborum, maiores quia libero similique autem excepturi facere quos accusamus. Facere dolorum possimus quisquam quis aliquid impedit, sint laudantium unde veniam?</span><span>Repudiandae vel, adipisci id. Aspernatur optio, reiciendis commodi provident repellendus assumenda perferendis hic harum modi tempora enim culpa obcaecati, cumque nam quae ea a consequatur quasi veritatis ut iure distinctio.</span></p></div>
            <div class="portfolio-outer-wrapper">
                <div class="portfolio-inner-wrapper">
                    <div class="portfolio-upper-frame"></div>
                    <div class="portfolio">
                        <img src="/media/img/erzurum-bilkent.jpeg" alt="Erzurum Bilkent" class="img-responsive">
                    </div>
                    <div class="portfolio-inner-frame"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main-section-outer-wrapper" id="us">
    <div class="main-section">
        <a class="main-link" href="/tr/biz"><h1>BİZİ TANIYIN</h1></a>
    </div>

    <div class="main-content-wrapper">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium animi eaque soluta, voluptas, officia inventore! Dolores animi pariatur deserunt, distinctio aspernatur soluta. Tempora corporis, blanditiis nobis omnis rem impedit, esse.</div>
</div>
<div class="main-section-outer-wrapper" id="group">
    <div class="main-section">
        <a class="main-link" href="/tr/grup"><h1>GRUP</h1></a>
    </div>

    <div class="main-content-wrapper">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium animi eaque soluta, voluptas, officia inventore! Dolores animi pariatur deserunt, distinctio aspernatur soluta. Tempora corporis, blanditiis nobis omnis rem impedit, esse.</div>
</div>

<div class="main-section-outer-wrapper" id="contact">
    <div class="main-section">
        <a class="main-link" href="/tr/iletisim"><h1>İLETİŞİM</h1></a>
    </div>

    <div class="main-content-wrapper">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium animi eaque soluta, voluptas, officia inventore! Dolores animi pariatur deserunt, distinctio aspernatur soluta. Tempora corporis, blanditiis nobis omnis rem impedit, esse.</div>
</div>
{% endblock %}
