{% extends 'layout.server.view.html' %} {% block menu %}
<!--
<div class="main-section-outer-wrapper" id="projects">
    <div class="main-section">
        <a class="main-link" href="/tr/projeler"><h1>PROJELER</h1></a>
    </div>
    <div class="main-content-wrapper">
        <div class="projects-main-outer-wrapper">
            
        </div>
    </div>
</div>
<div class="main-section-outer-wrapper" id="us">
    <div class="main-section">
        <a class="main-link" href="/tr/biz"><h1>BİZİ TANIYIN</h1></a>
    </div>

    <div class="main-content-wrapper">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium animi eaque soluta, voluptas, officia inventore! Dolores animi pariatur deserunt, distinctio aspernatur soluta. Tempora corporis, blanditiis nobis omnis rem impedit, esse.</div>
</div>
<div class="main-section-outer-wrapper" id="group">
    <div class="main-section">
        <a class="main-link" href="/tr/grup"><h1>GRUP</h1></a>
    </div>

    <div class="main-content-wrapper">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium animi eaque soluta, voluptas, officia inventore! Dolores animi pariatur deserunt, distinctio aspernatur soluta. Tempora corporis, blanditiis nobis omnis rem impedit, esse.</div>
</div>

<div class="main-section-outer-wrapper" id="contact">
    <div class="main-section">
        <a class="main-link" href="/tr/iletisim"><h1>İLETİŞİM</h1></a>
    </div>

    <div class="main-content-wrapper">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium animi eaque soluta, voluptas, officia inventore! Dolores animi pariatur deserunt, distinctio aspernatur soluta. Tempora corporis, blanditiis nobis omnis rem impedit, esse.</div>
</div>
-->

<section class="menu-section">
    <nav class="menu-outer-wrapper">
        <div class="menu-inner-wrapper" id="projects">
            <div class="menu-top-border"></div>
            <div class="menu-main-link-wrapper"><a href="/tr/projeler" class="menu-main-link"><h1>PROJELER</h1></a></div>
        </div>
        <div class="menu-inner-wrapper" id="us">
            <div class="menu-top-border"></div>
            <div class="menu-main-link-wrapper"><a href="/tr/biz" class="menu-main-link"><h1>BİZİ TANIYIN</h1></a></div>
        </div>
        <div class="menu-inner-wrapper" id="group">
            <div class="menu-top-border"></div>
            <div class="menu-main-link-wrapper"><a href="/tr/grup" class="menu-main-link"><h1>GRUP</h1></a></div>
        </div>
        <div class="menu-inner-wrapper" id="contact">
            <div class="menu-top-border"></div>
            <div class="menu-main-link-wrapper"><a href="/tr/iletisim" class="menu-main-link"><h1>İLETİŞİM</h1></a></div>
        </div>
    </nav>
</section>

{% endblock %}
