{% extends 'layout.server.view.html' %} {% block content %}
<div class="main-section-outer-wrapper" id="projects">
    <div class="main-section">
        <a class="main-link" href="/tr/projeler"><h1>PROJELER</h1></a>
    </div>
    <div class="main-content-wrapper">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium animi eaque soluta, voluptas, officia inventore! Dolores animi pariatur deserunt, distinctio aspernatur soluta. Tempora corporis, blanditiis nobis omnis rem impedit, esse.</div>
</div>
<div class="main-section-outer-wrapper" id="us">
    <div class="main-section">
        <a class="main-link" href="/tr/biz"><h1>BİZİ TANIYIN</h1></a>
    </div>

    <div class="main-content-wrapper">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium animi eaque soluta, voluptas, officia inventore! Dolores animi pariatur deserunt, distinctio aspernatur soluta. Tempora corporis, blanditiis nobis omnis rem impedit, esse.</div>
</div>
<div class="main-section-outer-wrapper" id="group">
    <div class="main-section">
        <a class="main-link" href="/tr/grup"><h1>GRUP</h1></a>
    </div>

    <div class="main-content-wrapper">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium animi eaque soluta, voluptas, officia inventore! Dolores animi pariatur deserunt, distinctio aspernatur soluta. Tempora corporis, blanditiis nobis omnis rem impedit, esse.</div>
</div>

<div class="main-section-outer-wrapper" id="contact">
    <div class="main-section">
        <a class="main-link" href="/tr/iletisim"><h1>İLETİŞİM</h1></a>
    </div>

    <div class="main-content-wrapper">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium animi eaque soluta, voluptas, officia inventore! Dolores animi pariatur deserunt, distinctio aspernatur soluta. Tempora corporis, blanditiis nobis omnis rem impedit, esse.</div>
</div>
{% endblock %}
